.jobs-list {
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .jobs-list h4 {
    margin: 0;
  }
  
  .jobs-list ul {
    list-style: none;
    padding: 0;
  }
  
  .jobs-list li {
    margin-bottom: 10px;
  }