.jobs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .job-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .job-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .job-card:hover {
    transform: translateY(-5px);
  }
  
  .job-card h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .job-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
  }
  
  .job-card button {
    width: 150px;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .job-card button:hover {
    background-color: #3e8e41;
  }
  
  .company-logo {
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  .company-logo img {
    max-width: 100px; /* Adjust max-width as needed */
  }
  
  .company-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .about-role {
    max-height: 80px; /* Set maximum height for the text */
    overflow: hidden;
    position: relative;
  }
  
  .about-role p {
    margin: 0;
    line-height: 1.5;
  }
  
  .about-role::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Height of the fade effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
  
  .job-details {
    margin-top: 10px;
  }
  
  .job-details p {
    margin: 5px 0;
  }
  
  .job-details a {
    display: block;
    margin-top: 10px;
  }
  